<div class="container">
    <img class="logo" src="assets/logo_2.png" alt="test" width="150" class="logo">
    <div class="icons">
        <span class="text-medium">
            <img class="icon" src="assets/home-page/home-icon.png" alt="">
            Home
        </span>
        <span class="text-medium">
            <img class="icon" src="assets/home-page/search-icon.png" alt="">
            Search
        </span>
        <span class="text-medium">
            <img class="icon" src="assets/home-page/favorites-icon.png" alt="">
            Favorites
        </span>
        <span class="text-medium">
            <img class="icon" src="assets/home-page/favorites-icon.png" alt="">
            My Books
        </span>
        <span class="text-medium">
            <img class="icon" src="assets/home-page/upload-icon.png" alt="">
            Upload
        </span>
    </div>

    <footer class="footer-container">
        <span>About</span>
        <span>Support</span>
        <span>Terms & Condition</span>
    </footer>
</div>