.book-list-viewport {
    height: 280px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
}

.book-list-viewport::-webkit-scrollbar {
    display: none;
}

.book-list-container {
    display: flex;
    gap: 34px;
    flex-direction: row;
}
