/* You can add global styles to this file, and also import other style files */

html, body, app-root {
    margin: 0;
    padding: 0;
    width:  100%;
    height: 100%;
}

:root {
    --primary-color-light: #FA7C54;
    --primary-color-dark: #4D4D4D;
    --secondary-color-red: #EB5231;
    --secondary-color-blue: #571FCF;
    --secondary-color-green: #42BB4E;
    --secondary-color-white: #F3F3F7;
}

.text-light {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
}

.text-regular {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
}

.text-medium {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
}

.text-semi-bold {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
}

.text-bold {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
}